<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Setup Password</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>We're glad to have you with Team Everest</p>
    <p>Please click on the following link to setup your account password. </p>
    <p>{{link}} </p>
  </body>
</html>